body {
  background-color: blueviolet;
}

.dino-card {
  background-color: black;
  color: white;
  width: 200px;
  text-align: center;
}

.assignment-card {
  background-color: darkgreen;
  color: black;
  width: 300px;
  text-align: center;
}